<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="readNote.mapper.ReadNoteMapper">

	<resultMap type="readNote.vo.ReadNote" id="BaseResultMap">
		<result column="id_" property="id" jdbcType="BIGINT" />
		
		<result column="chapter_no" property="chapterNo" jdbcType="VARCHAR" />
		<result column="teacher_name" property="teacherName" jdbcType="VARCHAR" />
		<result column="note_summary" property="noteSummary" jdbcType="VARCHAR" />
		<result column="note_content" property="noteContent" jdbcType="LONGVARCHAR" />
		<result column="note_name" property="noteName" jdbcType="VARCHAR" />
		<result column="create_by" property="createBy" jdbcType="BIGINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_by" property="updateBy" jdbcType="BIGINT" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="enable_" property="enable" jdbcType="TINYINT" />
		<result column="remark_" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 获取书籍列表 -->
	<select id="getReadNoteList" resultMap="BaseResultMap" parameterType="map">
		SELECT
			*
		FROM
			read_note
		WHERE
			<!-- enable_ = 1 -->
			1=1
		<if test="id!=null and id != ''">
			and id_ = #{id}
		</if>
		<if test="teacherName!=null and teacherName != ''">
			and teacher_name like  CONCAT('%',#{teacherName},'%')
		</if>
		<if test="noteName!=null and noteName != ''">
			and note_name like  CONCAT('%',#{noteName},'%')
		</if>
		<if test="noteSummary!=null and noteSummary != ''">
			and note_summary like  CONCAT('%',#{noteSummary},'%')
		</if>
		<if test="chapterNo!=null and chapterNo != ''">
			and chapter_no =  #{chapterNo}
		</if>
	</select>

	
	
</mapper>
