<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="note.dao.NoteDao">
<select id="findNotesByBookId" parameterType="map" resultType="note.entity.Note">
	select 
		cn_note_id noteId,
		cn_notebook_id notebookId,
		cn_user_id userId,
		cn_note_status_id statusId,
		cn_note_type_id typeId,
		cn_note_title title,
		cn_note_body body,
		cn_note_create_time createTime,
		cn_note_last_modify_time lastModifyTime
	from
		cn_note
	where 
		cn_note_status_id=#{statusId}
		<if test="bookId!=null">
		and cn_notebook_id=#{bookId}
		</if>
		<if test="userId!=null">
		and cn_user_id=#{userId}
		</if>
	order	by
		cn_note_last_modify_time desc
	 <if test="start!=null">
	limit #{start},#{rows}
	</if>	 
</select>
<update id="updateNote" parameterType="map">
	update cn_note
	set 
			<if test="notebookId!=null">
				cn_notebook_id=#{notebookId},
			</if>
			<if test="typeId!=null">
				cn_note_type_id=#{typeId},
			</if>
			<if test="title!=null">
				cn_note_title=#{title},
			</if>
			<if test="body!=null">
				cn_note_body=#{body},
			</if>
			<if test="statusId!=null">
				cn_note_status_id=#{statusId},
			</if>
			   cn_note_last_modify_time=#{lastModifyTime}
		
	where
		cn_note_id	=#{noteId}	
</update>
	
<delete id="deleteNote" parameterType="string">
	delete from cn_note
		where cn_note_id=#{noteId}
</delete>	
</mapper>
